/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 22, 2016, 2:13:40 AM
    Author     : yehster
*/

html
{
    margin: 0;
    padding: 0;
    border: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}
body
{
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
}
#mainBox
{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    align-content: space-between;
    width: 100%;
    flex: 1 0 auto;
}

#mainBox > div
{
    flex: 0 1 1em;
}

#mainBox > div.mainFrames
{
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
}

#framesDisplay
{
    flex: 1 0 auto;
    display: flex;
    flex-direction: row;
}

#framesDisplay > div
{
    flex: 1 0 auto;
    align-items: stretch;
    align-content:stretch;
    display: flex;
    flex-direction: column;
}

#framesDisplay > div > iframe
{
    flex: 1 0 auto;
}