/* 
    Document   : syndromic_surveillance_base
    Created on : Jan 22, 2013, 9:51:09 PM
    Author     : yehster
    Description:
        Purpose of the stylesheet follows.
*/

.results{
    cursor: pointer;
}

.results tbody tr:hover
{
    background-color: yellow;
}
.label{
    font-weight: bold;
}

textarea.hl7_message
{
    width:60em;
    height:20em;
}
.tabs{
    margin:0px;
    padding: 0px;
    display: block;
    cursor: pointer;
}
.tabs > span
{  
    border: 1px solid black;
    padding: 0px;
    margin: 0px;
    float: left;
    min-width:5em;
    text-align: center;
}
.tabs > span.tab_selected
{
    font-weight:bold;
}

.main_display
{
    clear:left;
}