/* 
    Document   : display
    Created on : Aug 5, 2013, 11:28:15 PM
    Author     : yehster
    Description:
        Purpose of the stylesheet follows.
*/

.weight_input
{
    width: 5em;
}
.birth_button
{
    width:2em;
}